.container{
    display:flex;

    padding: 50px;
    height: 150px;
    width: auto;
    margin: 0px auto;
    /* margin-top: 50px; */
    border-style: solid;
    border-color: aqua;
    background-color: aqua;
    
 


}