.root{
    display: flex;
    flex-direction: column;
}

.container{
    display:flex;
    justify-content: space-evenly;
    background-color: aqua;
}

p{text-align: center;}

main{
    display:flex;
  
}

.col__article{

    display: flex;
    background-color: blanchedalmond;
    width: 75%;
    
    flex-direction: column;
   
}

.row{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;

}

.item{

    width: 100px;
    height: 300px;
    background-color: rgb(121, 4, 4);
    border-radius: 10px;
    border-color: aliceblue;
    border-style: dashed;
    flex-shrink: 10;
   
}
.col__aside{
    display: flex;
    background-color: purple;
    width: 25%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    

}
/* .item{
    width: 400px;
    height: 100px;
    background-color: rgb(6, 19, 133);
    border-radius: 10px;
    border-color: brown;
    border-style: dashed;

} */