.lds-circle{


    animation-name: anime;
    animation-duration: 1s;
    overflow: auto;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  

}

body {
    display: flex;
    justify-content: space-evenly;
    background-color: aquamarine;

    transform: translateY(100px);


}

@keyframes anime {
    from{

 
        width: 100px;
        height: 100px;
        border-radius: 100%;

        background-color: red;

        perspective-origin: 0px;


    }
    50%{
        background-color: red;
        transform: rotateX(0.25turn);

    }
    to{

        width: 100px;
        height: 100px;
        border-radius: 100%;
        background-color: blue;
        transform: scale(2);

        perspective: 500px;

    }
    }